*{
    margin: 0;
    padding: 0;
    font-family: 'Quattrocento Sans', sans-serif;
/* font-family: 'Bellefair', serif;*/
    box-sizing: border-box;
}
.header-bar{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #fcf5f9;
    /*position: fixed;*/
}
.header-bar ul{
    margin-bottom: 5px;
}

.header-bar ul li{
    list-style-type: none;
    display: inline-block;
    margin: 20px 15px;  
    align-items: center;
}
.bag a i{
    margin-left: 40px;
    font-size: 25px;
}
.header-bar ul li a{
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    color: #515151;
    transition: all 0.4s;
    letter-spacing: 1px;
}
.header-bar ul li a:hover{
    color: #edb7ba;
}
.dropdown-content{
    display: none;
}
.header-bar .nav .lio:hover .dropdown-content{
    display: block;
    position: absolute;
    background-color: rgb(255, 248, 251);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 10px;
    z-index: 1;
}
.header-bar .nav .lio:hover .dropdown-content li{
    display:block;
}
.dropdown-content a{
    color: #515151;
    padding: 10px 15px;
    text-align: center;
    transition: all .35s;
    font-size: 13px;
}
.dropdown-content a:hover {
    border-radius: 3px;
    background-color: #f9f3fa;
    margin-left: 20px;
}
.nav .logomid{
    margin-left: 90px;
}
.search{
    margin-left: 90px;
    width: 240px;
    height: 36px;
    border-radius: 20px;
    border: none;
    padding-right: 10px;
    transition: all .3s;
    padding-left: 10px;
    background-color: white;
    border: #f8d1e0 solid 2px;
}
.search:hover{
    background-color: #fff;
    border: #f4a3c1 solid;
}
.sign-up{
    border-radius: 10px;
    background-color: #f3daf0;
    padding: 10px 15px;
    border: none;
    transition: all .3s;
}
.nav .sign-up:hover{
    background-color: #e38199;
}
.nav .sign-up a{
    color: #fff;
}
.nav .sign-up a:hover{
    color: #fff;
}
.submit{
    color: #513036;
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}

/*Header img*/
.intro{
    background: linear-gradient(rgba(180, 169, 176, 0.3), rgba(63, 60, 63, 0.3)), url(images/cutheader.png);
    width: 98.76vw;
    height: 450px;
    background-size: cover;
}
.intro-title h1{
    top: 37%;
    right: 40%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130px;
    color: #fff;
    font-family: 'Bellefair', serif;
}
/*About*/
.container {
    text-align: center;
    background: #fce2e2;
}
.header {
    padding-top: 30px;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
}
.container2 {
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mem {
    margin-top: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
}
.mem:hover {
    background: #fdf7ff;
    border-radius: 10px;
}
.mem img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.name {
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.des{
    font-style: italic;
    color: #5c5656;
}
.about {
    margin: 20px 0;
    font-weight: lighter;
}
.row{
    width: 100%;
    padding: 94px 94px 40px;
    float: left;
}
.row2{
    width: 100%;
    padding: 80px 80px 40px;
    float: right;
}
.img-sec{
    width: 30%;
    float: left;
}
.img-sec2{
    width: 30%;
    float: right;
    margin-right: 0px;
}
.img-sec img{
    width: 100%;
    height: auto;
    border-radius: 10px;

}
.content{
    width: 60%;
    float: left;
    margin-left: 50px;
}
.content h1{
    font-size: 75px;
    letter-spacing: 2px;
    margin-top: 60px;
}
.content p{
    font-size: 18px;
    margin-top: 12px;
    line-height: 1.5;
    width: 600px;
    font-weight: 550;
    letter-spacing: 0.2px;
}
.content span{
    color: #db7a9d;
}
.crilink{
    color: #939393;
    font-size: 12px;
}