*{
    margin: 0;
    padding: 0;
    font-family: 'Quattrocento Sans', sans-serif;
/* font-family: 'Bellefair', serif;*/
    box-sizing: border-box;
}
/*.header{
    width: 100%;
    height: 100vh;
    align-items: center;
}*/
.header-bar{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #fcf5f9;
    /*position: fixed;*/
}
.header-bar ul{
    margin-bottom: 5px;
}
/*.header-bar ul li img{
    top: 5%;
    position: absolute;
}*/
.header-bar ul li{
    list-style-type: none;
    display: inline-block;
    margin: 20px 15px;  
    align-items: center;
}
.bag a i{
    margin-left: 40px;
    font-size: 25px;
}
.header-bar ul li a{
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    color: #515151;
    transition: all 0.4s;
    letter-spacing: 1px;
}
.header-bar ul li a:hover{
    color: #edb7ba;
}
/*.dropdown{
    position: relative;
    margin: 20px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f3fa;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    transform: translateY(3px);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: center;
    transition: all .35s;
}
.dropdown:hover .dropdown-content {
    display: block;
}*/
/*.nav>li:hover .dropdown-content{
    display: block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f3fa;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.dropdown-content a {
    color: #515151;
    padding: 12px 16px;
    text-align: center;
    transition: all .35s;
}
.dropdown-content a:hover {
    border-radius: 3px;
}*/
.dropdown-content{
    display: none;
}
.header-bar .nav .lio:hover .dropdown-content{
    display: block;
    position: absolute;
    background-color: rgb(255, 248, 251);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 10px;
    z-index: 1;
}
.header-bar .nav .lio:hover .dropdown-content li{
    display:block;
}
.dropdown-content a{
    color: #515151;
    padding: 10px 15px;
    text-align: center;
    transition: all .35s;
    font-size: 13px;
}
.dropdown-content a:hover {
    border-radius: 3px;
    background-color: #f9f3fa;
    margin-left: 20px;
}
.nav .logomid{
    margin-left: 90px;
}
.search{
    margin-left: 90px;
    width: 240px;
    height: 36px;
    border-radius: 20px;
    border: none;
    padding-right: 10px;
    transition: all .3s;
    padding-left: 10px;
    background-color: white;
    border: #f8d1e0 solid 2px;
}
.search:hover{
    background-color: #fff;
    border: #f4a3c1 solid;
}
.sign-up{
    border-radius: 10px;
    background-color: #f3daf0;
    padding: 10px 15px;
    border: none;
    transition: all .3s;
}
.nav .sign-up:hover{
    background-color: #e38199;
}
.nav .sign-up a{
    color: #fff;
}
.nav .sign-up a:hover{
    color: #fff;
}
.submit{
    color: #513036;
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}

/*Header img*/
.intro{
    background: linear-gradient(rgba(180, 169, 176, 0.3), rgba(63, 60, 63, 0.3)), url(images/cutheader.png);
    width: 98.76vw;
    height: 450px;
    background-size: cover;
}
.intro-title h1{
    top: 37%;
    right: 40%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130px;
    color: #fff;
    font-family: 'Bellefair', serif;
}
/*Fanart*/
.all{
    align-items: center;
    margin-top: 50px;
}
.all .first{
    margin-left: 70px;
}
.card{
    width: 405px;
    border-radius: 7px;
    display: inline-block;
    letter-spacing: .2px;
    line-height: 22px;   
    vertical-align: top;
}
.card .card-img{
    text-align: center;
}
.card .card-img img{
    border-radius: 5px;
}
.card .card-para{
    padding: 30px;
}
.card .card-para h3{
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: 600;
}
.card .card-para p{
    font-size: 17.5px;
    line-height: 1.6;
    font-weight: 400;
    color: #000;
    display: inline-block;
    margin-top: 10px;
    font-weight: 500;
}
.card .card-para .pfplink a{
    color: #000;
    text-decoration: none;
}
.card .card-para .pfplink a span{
    color: #d17798;
}
.card .card-para .pfplink a span:hover{
    text-decoration: underline;
}
.button1{
    width: 150px;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 10px;
    border: #e38199 solid;
    color: #fff;
    font-weight: bold;
    background-color: /*#eea7ac*/ #e38199;
    transition: all 0.3s;
    margin-left: 43.45%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.button1:hover{
    color: #dfb4e0;
    background-color: #fff;
    border: #dfb4e0 solid;
}
/*Footer*/
.container{
    max-width: 900px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul{
    list-style: none;
}
.whole-footer{
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 40px;
}
.footer{
    background-color: #f5f4f9;
    padding: 35px 0;
}
.footer-col h4{
    font-size: 20px;
    color: #202020;
    margin-bottom: 25px;
    margin-right: 50px;
    font-weight: 500;
    position: relative;
    font-family: 'PT Serif', serif;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    bottom: -10px;
    background-color: #44606f;
    height: 2px;
    box-sizing: border-box;
    width: 60px;
}
.footer-col ul li{
    margin-bottom: 5px;
}
.socials{
    text-align: center;
}
.footer-col ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: #000;
    display: block;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.footer-col ul li a:hover{
    color: #202020;
    padding-left: 12px;
}

.footer-col .social-links a{
    color: #d8cece;
    display: inline-block;
    width: 35px; 
    margin: 0 3px 0 0;
    text-align: center;
    line-height: 40px;
    transition: all ease 0.5s;
    font-size: 25px;
}

.footer-col .social-links a:hover{
    color: #44606f;
}

.footer-bottom{
    background-color: #44606f;
    text-align: center;
    color: #d8cece;
    font-size: 13px;
    padding: 10px;
}

.art-types li{
    display: inline-block;
    margin-right: 10px;
}

.footer-col .art-types a{
    color: #000000;
    display: inline-block;
    margin: 0 3px 0 0;
    transition: all ease 0.6s;
}

.footer-col .discover{
    text-align: center;
    justify-content: center;
}

.footer-col form{
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 14px;
}

form .fa-envelope{
    font-size: 18px;
    margin-right: 10px;
    color: #d8cece;
}

form input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 14.5px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
}

.footer-button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: #d8cece;
    float: right;
    transition: all 0.2s;
} 
.footer-button:hover{
    color: #44606f;
}